# HW4 - Trees on the Titanic 
I am giving you two data files:
* `titanic_sample_data.csv` has real data from real passengers from the real Titanic  
* `titanic_challenge.csv` is data on 20 passengers + a few fake passengers.  

Classify the people in titanic_challenge data set and tell me **WHO LIVES AND WHO DIES**


## Assignment:
1.  Train decision trees on the Titanic sample data to make a plot of score vs max_depth for depths from 1 to 25
2.  Train a tree with max_depth=3, then use this tree to:
    * Print a nice diagram of the tree.  Make sure it is filled and all features and classes are labeled!
    * Classify the passengers in the challenge data file
    * Make a plot showing the challenge passengers and decision boundary.  Show the most important feature on the horizontal axis, and the second most important feature on the vertical
    * Finally, make a csv file with your predictions.  It must have the same format and row order as the challenge data file with 2 new columns: 
        * survived : a 0 or 1 for your prediction 
        * survival_prob : a number from 0 to 1 giving the probability that this passenger survived

## Writeup:
Submit your python notebook.  Include at least one markdown for every part of the assignment explaining and discussing your results.  Your notebook should be clear and readable to _anyone_. 

We will use the csv files in class.

## Datasets
I'll start you off with code to load the datasets from my GitHub repo.  You may download them and use local copies if you want, but this is easier.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import tree

In [2]:
# read csv files straight from my github repo
train = pd.read_csv("https://raw.githubusercontent.com/mdaugherity/PatternRecognition2020/master/Homework/titanic_sample_data.csv")
pred =  pd.read_csv("https://raw.githubusercontent.com/mdaugherity/PatternRecognition2020/master/Homework/titanic_challenge.csv")

In [3]:
train.head()

                               name  pclass     sex   age   fare  survived
0               Abbing, Mr. Anthony       3    male  42.0   7.55         0
1     Abbott, Master. Eugene Joseph       3    male  13.0  20.25         0
2       Abbott, Mr. Rossmore Edward       3    male  16.0  20.25         0
3  Abbott, Mrs. Stanton (Rosa Hunt)       3  female  35.0  20.25         1
4       Abelseth, Miss. Karen Marie       3  female  16.0   7.65         1

In [4]:
pred.head()

,name,pclass,sex,age,fare
0,"Allison, Master. Hudson Trevor",1,male,0.92,151.5500
1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",1,female,18.00,227.5250
2,"Baclini, Miss. Helene Barbara",3,female,0.75,19.2583
3,"Braund, Mr. Lewis Richard",3,male,29.00,7.0458
4,"Carlsson, Mr. Frans Olof",1,male,33.00,5.0000